
.artist-container{
  background-color: black;
  width: 100vw;
  height: 55vh;
  margin-top: -40vh;
  position: relative;
}
.artist-text{
  color:white;
  padding-top: 17vh;
  font-family: Bebas Neue, sans serif;
  font-size: 200%;
  padding-left: 9vw;
}
.artist-text2{
  color:white;
  padding-left: 9vw;
  padding-top: 2vh;
  width: 70vw;
  font-family: Bebas Neue, sans serif;
  font-size: 120%;
}
.artist-text3{
  color:white;
  padding-left: 38vw;
  padding-top: 5vh;
  width: 70vw;
  font-family: Bebas Neue, sans serif;
  font-size: 150%;
}
.artist-box{
  background-color: black;
  width: 25vw;
  height: 5vh;
  margin-top: 10vh;
  margin-left: 9vw;
  position: relative;
}
