.Artist-Header{
  background-color: black;
  width: 99.99vw;
  height: 50vh;
  margin-top: -40vh;
  margin-left: 0vw;
  position: absolute;
}
.Artist-text{
  color:white;
  padding-left: 11vw;
  padding-top: 7vh;
  font-size: 200%;
}
.Artist-text1{
  color:white;
  padding-left: 11vw;
  padding-top: 2vh;
  font-size: 140%;
  font-family: Bebas Neue, sans-serif;
  width: 80vw;
}
.Artist-Name{
  color: white;
  font-size: 140%;
  padding-left: 40vw;
  padding-top: 8vh;
  font-family: Bebas Neue, sans-serif;
  font-weight: 600;
}
.Artist-box{
  width: 26vw;
  height: 60vh;
  background-color: black;
  margin-left:18vw;
  margin-top: 20vh;
  position: absolute;
  border-radius: 15px;
}


.Artist-box1{
  width: 26vw;
  height: 60vh;
  background-color: black;
  margin-left:53vw;
  margin-top: 20vh;
  position: absolute;
  border-radius: 15px;
}

.Artist-box2{
  width: 26vw;
  height: 60vh;
  background-color: black;
  margin-left:18vw;
  margin-top: 90vh;
  position: absolute;
  border-radius: 15px;
}

.Artist-footer{
  background-color: black;
  width: 99vw;
  height: 170vh;
  margin-top: 165vh;
  position: absolute;
}

