.Artist-Header{
  background-color: black;
  width: 99.99vw;
  height: 39vh;
  margin-top: -40vh;
  margin-left: 0vw;
  position: absolute;
}
.Artist-text{
  color:white;
  padding-left: 11vw;
  padding-top: 7vh;
  font-size: 200%;
}
.Artist-text1{
  color:white;
  padding-left: 11vw;
  padding-top: 2vh;
  font-size: 140%;
  font-family: Bebas Neue, sans-serif;
  width: 80vw;
}


.artist-section {
  position: relative;
  width: 100%;
  height: 50vh; /* Adjust height as needed */
  overflow: hidden;
}

/* Background Video */
.artist-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  object-fit: cover;
  margin-top: 4.2vh;
}

/* Overlay to make text readable */
.artist-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10vh;
}

.Artist-Name{
  color: white;
  font-size: 150%;
  padding-left: 0vw;
  margin-top: -9vh;
  font-family: Bebas Neue, sans-serif;
  font-weight: 600;
}
.Artist-box{
  width: 26vw;
  height: 60vh;
  background-color: black;
  margin-left:18vw;
  margin-top: 20vh;
  position: absolute;
  border-radius: 15px;
}


.Artist-box1{
  width: 26vw;
  height: 60vh;
  background-color: black;
  margin-left:53vw;
  margin-top: 20vh;
  position: absolute;
  border-radius: 15px;
}

.Artist-box2{
  width: 26vw;
  height: 60vh;
  background-color: black;
  margin-left:18vw;
  margin-top: 90vh;
  position: absolute;
  border-radius: 15px;
}

.Artist-footer{
  background-color: black;
  width: 99vw;
  height: 170vh;
  margin-top: 165vh;
  position: absolute;
}

