/* Reset and General Styles */
body, ul, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.logo {
  width: 4vw;
  margin-left: -13vw;
  margin-top: -1.3vh;
}

/* Navigation Bar */
nav {
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(249, 248, 248, 0.1);
  font-size: 120%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding-left:  22vw;
  height: 5vh;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 800;
  font-size: 1rem;
  gap: 3.5rem;
  padding-left: rem;
  margin-top: -8vh;
}

.home {
  padding-left: 15vw;
}

nav ul li {
  padding: 0.5rem 0;
}

nav ul li a {
  color: black;
  font-size: 1.1rem;
  font-weight: 550;
  transition: color 0.3s ease, transform 0.3s ease;
  display: block;
}

/* Fix Hover Scaling Issue */
nav ul li a:hover {
  color: #90807d;
  transform: scale(1.1);
}

nav ul li a.active {
  color: #90807d;
  border-bottom: 2px solid #90807d;
  font-size: 1.1rem;
}

/* Dropdown Menu */
.categories-menu {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  z-index: 1000;
  min-width: 180px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.categories-menu:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.dropdown li:last-child {
  border-bottom: none;
}

.dropdown li a {
  font-size: 1rem;
  color: black;
  transition: color 0.3s ease;
  display: block;
  padding: 8px 12px;
}

.dropdown li a:hover {
  color: white;
  background-color: black;
  
}

